{% extends 'contabilidad/menu.html' %}

{% load django_bootstrap5 %}

{% block title %}Crear Transacción Financiera{% endblock %}

{% block content %}
    <h1>Crear Transacción Financiera</h1>
    <a href="{% url 'contabilidad:categoria_crear' %}" class="btn btn-success">Crear nueva categoría</a>

    <form method="post">
        <div class="form-group">
        {% csrf_token %}
        {% bootstrap_form form %}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock %}
